<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../build/main.css">
    <title>1 Include</title>
</head>

<body class="import">
    
    <p>Utilizando <code>@import</code> no SASS</p>

    <p>Esta página utiliza um arquivo CSS gerado através da compilação de vários arquivos .scss em um unico arquivo chamado <strong>'main.scss'</strong>. Os arquivos que são importado podem ser nomeados com um underline '_' (também chamado de partials) na frente caso não seja necessário gerar um arquivo css para eles.</p>

    <P>O SASS faz o import dos arquivos durante a compilação, assim o browser não precisa fazer vários imports e chama apenas uma requisição de arquivo css.</P>

</body>
</html>