<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../build/main.css">
    <title>2 Variáveis</title>
</head>

<body class="variaveis">
    <div class="box">
        <h1>Utilizando variáveis</h1>
        <p>O ideal é sempre utilizar variáveis com nomes genericos como 'color-primary', pois se a cor do background mudar por exemplo, podemos alterar apenas o seu valor e seu nome não perderá o sentido. Se as variaveis estiverem em um arquivo .SCSS separado, deve ser chamado antes de todos para não ter problemas de sobreposição de variável.</p>
    </div>
</body>
</html>