<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../build/main.css">
    <title>4 Mixin</title>
</head>

<body class="mixin">
    <div class="card">
        <h1>Utilizando Mixin</h1>
        <p>O mixin encapsula diversos valores que podem ser reaproveitados no código, para usar o mixin utlizamos o '@include'. Os mixins podem ser muito úteis na utilização de prefixos.</p>
    </div>
</body>
</html>