<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../build/main.css">
    <title>5-2 Placeholder</title>
</head>

<body class="placeholder">
    <h1>Placeholder</h1>
    <p>O placeholder funciona mais ou menos como um mixin, ele pode encapsular estilos porém é chamado através do '@extend'.</p>
    <div class="container-flutuante">
        <div class="box1"></div>
        <div class="box2"></div>
    </div>

    <section class="section-flutuante">
        <div class="box1"></div>
        <div class="box2"></div>
    </section>
</body>
</html>