<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../build/main.css">
    <title>5 Extend</title>
</head>

<body class="extend">
    <h1>Extend</h1>
    <p>Para utilizar o extend utilizamos o '@extend .nome-da-classe;' dentro da classe desejada que quer aproveitar os estilos de uma outra classe.</p>
    <button class="button-erro">Erro</button>
    <a href="#" class="erro">Não queria a classe .button-erro =/</a>
</body>
</html>