<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../build/main.css">
    <title>6 Operadores</title>
</head>

<body class="operadores">
    <h1>Operadores</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi maxime delectus velit, nostrum, itaque rem saepe voluptatibus placeat illo nihil, similique quae possimus modi. Impedit sint ut veritatis saepe qui.</p>
</body>
</html>