<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../build/main.css">
    <title>8 Funções</title>
</head>

<body class="funcoes">
    <h1>Funções SASS</h1>
    <p>O SASS já possui diversas funções para facilitar seu cotidiano, como funções de cores, funções matemáticas...</p>
    <a class="lighten" href="#">Link utilizando função 'lighten' no hover</a>
    <a class="darken" href="#">Link utilizando função 'darken' no hover</a>
    <a class="trans" href="#">Link utilizando função 'transparentize' no hover</a>
    <ul>
        <li>
            <a class="funcao" href="#">Link utilizando uma função criada por mim mesmo</a>
        </li>
    </ul>
</body>
</html>