<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../build/main.css">
    <title>9 Loop</title>
</head>

<body class="loop">
    <h1 class="font-type-2">Loop</h1>

    <h2 class="font-type-1">Colunas feitas com loop FOR (pixel)</h2>
    <div class="col-1">Col 1</div>
    <div class="col-2">Coluna 2</div>
    <div class="col-3">Coluna 3</div>
    <div class="col-4">Coluna 4</div>
    <div class="col-5">Coluna 5</div>
    <div class="col-6">Coluna 6</div>
    <div class="col-7">Coluna 7</div>
    <div class="col-8">Coluna 8</div>
    <div class="col-9">Coluna 9</div>
    <div class="col-10">Coluna 10</div>
    <div class="col-11">Coluna 11</div>
    <div class="col-12">Coluna 12</div>

    <h2 class="font-type-1">Colunas feitas com loop FOR (porcentagem)</h2>
    <div class="grid-1">Col 1</div>
    <div class="grid-2">Coluna 2</div>
    <div class="grid-3">Coluna 3</div>
    <div class="grid-4">Coluna 4</div>
    <div class="grid-5">Coluna 5</div>
    <div class="grid-6">Coluna 6</div>
    <div class="grid-7">Coluna 7</div>
    <div class="grid-8">Coluna 8</div>
    <div class="grid-9">Coluna 9</div>
    <div class="grid-10">Coluna 10</div>
    <div class="grid-11">Coluna 11</div>
    <div class="grid-12">Coluna 12</div>

    <ul>
        <li class="social-media-facebook"></li>
        <li class="social-media-twitter"></li>
        <li class="social-media-linkedin"></li>
        <li class="social-media-instagram"></li>
    </ul>
</body>
</html>